  <footer class="page-footer bg-primary">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">vividhworld</h5>
                <p class="grey-text text-lighten-4">This website created and maintained by Vividh.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Importent Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Linkedin</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 Copyright
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>